.task-form {
    margin: 20px;
    padding: 20px; /* Aumenté el padding para que sea consistente con otros componentes */
    border: 1px solid #dcdcdc; /* Color de borde suave */
    background: #f8d7da;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
  }
  
  .task-form input {
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ced4da; /* Borde gris claro */
  }
  .titulo{
    width: 30%;
  }
  .description {
    width: 60%;
  }
  
  button {
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    background-color: #007bff; /* Color azul claro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
  }
  