<div class="task-container">
    <div class="task-list">
      <h2>Tareas No Completadas</h2>
      <ul>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="!task.completed" [ngClass]="{'incomplete': !task.completed, 'complete': task.completed}">
            <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)"> Marcar tarea completada
            
            <!-- Solo mostrar el botón de eliminar si no está en modo de edición -->
            <button *ngIf="!selectedTask" (click)="deleteTask(task.id)">Eliminar</button>
            <button *ngIf="!taskToDelete" (click)="toggleEdit(task)">Modificar</button>          
            
            <!-- Mensaje de confirmación para eliminar -->
            <span *ngIf="taskToDelete && taskToDelete.id === task.id" class="confirm-delete">
              <p>❌ Eliminar tarea permanentemente
              <button (click)="confirmDelete()">Eliminar</button>
              <button (click)="cancelDelete()">Cancelar</button></p>
            </span>
            
            <!-- Sección para editar la tarea -->
            <span *ngIf="selectedTask && selectedTask.id === task.id" class="actualizar">
              <button (click)="updateTask()">Actualizar</button>
              <button (click)="cancelEdit()">Cancelar</button><br>
              Tarea:<input [(ngModel)]="selectedTask.title" placeholder="Nuevo Título" class="newTitle"/>
              Descripción:<input [(ngModel)]="selectedTask.description" placeholder="Nueva Descripción" class="newDescription"/>
            </span>
            
            <br>
            <b>Tarea:</b> {{ task.title }} <br><b>Descripción:</b> {{ task.description }}
          </li>
        </ng-container>
      </ul>
    </div>
  
    <div class="task-list">
      <h2>Tareas Completadas</h2>
      <ul>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="task.completed" [ngClass]="{'incomplete': !task.completed, 'complete': task.completed}">
            <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)"> Tarea completada
            
            <!-- Solo mostrar el botón de eliminar si no está en modo de edición -->
            <button *ngIf="!selectedTask" (click)="deleteTask(task.id)">Eliminar</button><br>
            
             <!-- Mensaje de confirmación para eliminar -->
             <span *ngIf="taskToDelete && taskToDelete.id === task.id" class="confirm-delete">
              <p>❌ Eliminar tarea permanentemente
              <button (click)="confirmDelete()">Eliminar</button>
              <button (click)="cancelDelete()">Cancelar</button></p>
            </span>
            
            <b>Tarea:</b> {{ task.title }} <br><b>Descripción:</b> {{ task.description }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  

