body {
    background-color: #f0f4f8; /* Fondo suave */
    font-family: Arial, sans-serif; /* Fuente legible */
  }
  
  .task-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en una nueva línea si es necesario */
    justify-content: space-between; /* Espacio entre las listas */
    padding: 20px; /* Agregar un poco de espacio alrededor */
  }
  
  .task-list {
    border: 1px solid #dcdcdc; /* Color de borde suave */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: calc(48% - 40px); /* Ajusta el ancho para que se mantenga dentro del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    background-color: #ffffff; /* Fondo blanco para la lista */
  }
  .newTitle{
    width: 90%;
  }
  .newDescription{
    width: 90%;
  }
  .incomplete {
    background: #f8d7da; /* Color de fondo suave para tareas incompletas */
    border: 1px solid #f5c6cb; /* Borde más claro */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;  
    font-size: 20px;
  }
  
  .complete {
    background-color: #d4edda; /* Color de fondo suave para tareas completas */
    border: 1px solid #c3e6cb; /* Borde más claro */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #007bff; /* Color azul claro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el mouse */
  }
  
  div {
    background: beige;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #ced4da; /* Borde gris claro */
  }
  
  .task-update {
    border: 1px solid #dcdcdc; /* Color de borde suave */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: calc(48% - 40px); /* Ajusta el ancho para que se mantenga dentro del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    background-color: #ffffff; /* Fondo blanco para la tarea de actualización */
  }
  